<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        #boxes {
            /*display: inline;
            width: 100vw;
            clear: both;*/
        }

        #colonne {
            float: left;
            height: 470px;
            width: 26vw;
            margin: 1vw;
            padding: 0.8vw;
            background-color: lightblue;
            border-radius: 20px;
        }

        #h2 {
            font-family: Released;
            color: black;
            background-color: white;
            border-radius: 5px;
        }

        #titre {
            font-family: Released;
            color: black;
        }

        #table1 {
            border-collapse: separate;
            border-spacing: 1cm 0.1em;
        }

        #table2 {
            border-collapse: separate;
            border-spacing: 1cm 0.1em;
        }
        /*tr:hover {
            background-color: #f5f5f5;
        }*/
    </style>
</head>
<body>
    <div>
        <h1 id="titre">Mes demandes d'action</h1>
    </div>
    <br />
    <br />
    <main id="boxes">
        <div id="colonne">
            <h2 id="h2">Demande 1 infos </h2>
            <br />
            <br />
            <table id="table1">
                <tr onclick="myFunction(this)">
                    <td>Type :</td>
                    <td>Courses</td>
                </tr>
                <tr onclick="myFunction(this)">
                    <td>Date et heure :</td>
                    <td>05/03 à 16H00</td>
                </tr>
                <tr onclick="myFunction(this)">
                    <td>Postée le :</td>
                    <td>28/02</td>
                </tr>
                <tr onclick="myFunction(this)">
                    <td>Matériel demandé :</td>
                    <td>voiture</td>
                </tr>
                <tr onclick="myFunction(this)">
                    <td>Bénévole choisi</td>
                    <td>Robert</td>
                </tr>
            </table>
            <script>
                function myFunction(x) {
                    alert("Row index is: " + x.rowIndex);
                }
            </script>
        </div>
        <div id="colonne">
            <h2 id="h2">Reponses</h2>
            <br />
            <br />
            <table id="table2">
                <tr onclick="myFunction(this)">
                    <td>01/03 : Titi, 5 km</td>
                    <td>correspondance : 2/5</td>
                </tr>
                <tr onclick="myFunction(this)">
                    <td>01/03 : Toto, 2km</td>
                    <td>correspondance : 3/5</td>
                </tr>
                <tr onclick="myFunction(this)">
                    <td>02/03 : Tata, 1 km</td>
                    <td>correspondance : 4/5</td>
                </tr>

            </table>
            <script>
                function myFunction(x) {
                    alert("Row index is: " + x.rowIndex);
                }
            </script>
        </div>
    </main> <!--A supprimer-->
</body>
</html>