
#boxes {
    /*display: inline;
            width: 100vw;
            clear: both;*/
}

#lesDemandes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    justify-content: space-around;
}

#formDemandes {
    padding: 1vh;
    margin: 1vh;
}

    #formDemandes select {
        height: 4vh;
    }

#colonne1 {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 1vw;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: rgba(255, 255, 255, 0.8);
    width:30vw;
    height:40vh;
}

    #colonne1 #colonne2 h2 {
        text-transform: uppercase;
    }

#colonne2 {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 1vw;
    overflow-y: scroll;
    font-weight: 500;
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: rgba(255, 255, 255, 0.8);
    width:55vw;
    height:40vh;
}

#maLigne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95vw;
}

#titre {
    color: black;
}

#table1 {
    display: flex;
    border-spacing: 10px;
    border-collapse: separate;
    border-spacing: 1vh;
}

#table2 {
    border-collapse: separate;
    border-spacing: 1cm 2em;
    height: 0px;
}

.description {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    margin: 0.7vh 0.2vw 0.7vh 0.2vw;
    padding: 0.5vh 0.8vw 0.5vh 0.8vw;
    background-color: #2F4F4F;
    color: white;
}
