

body {
    overflow: hidden;
}

#bodyPosterDemande {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#idArticle {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#idTable {
    display: flex;
    justify-content:center;
    border-spacing: 10px;
    border-collapse: separate;
    border-spacing: 2.5vh;

    font-size:large;
}



#idForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 35vw;
}



#idParagraphe1 {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-style: italic;
    text-align:center;
}


#idRecur {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    justify-content : space-around;
}

#idH1 {
    text-transform: uppercase;
}

#divIntro {
    padding: 3vh;
    color: #2F4F4F;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
