/*----------------------------------------------------------PARAMETRES GENERALISES----------------------------------------------------------*/
* {
    box-sizing: border-box;
}

.bodyContainer {
    width: 100%;
}

#rechAction {
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    line-height: 1.1;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: "titre titre" "menu actions";
}

    /*----------------------------------------------------------PARAMETRES GENERALISES----------------------------------------------------------*/

    /*----------------------------------------------------------TITRE----------------------------------------------------------*/
    #rechAction .titre {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: titre;
        color: #2F4F4F;
        width: 100%;
        padding: 1vh;
        margin: 1vh;
    }
    /*----------------------------------------------------------TITRE----------------------------------------------------------*/

    /*----------------------------------------------------------MENU RECHERCHE----------------------------------------------------------*/
    #rechAction .menu {
        box-shadow: 1px 1px 5px rgb(126, 126, 126);
        background-color: rgba(255, 255, 255, 0.8);
        grid-area: menu;
        height: 75vh;
        margin: 0.5vh;
    }

        #rechAction .menu #titreRecherche {
            margin: 2vh 0vw 4vh 0vw;
            font-size: 25px;
            font-weight: bold;
        }

    #rechAction .formRecherche {
        display: flex;
        flex-direction: column;
        margin: 0 1vw;
    }

    #rechAction .catRecherche {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

        #rechAction .catRecherche label {
            margin-bottom: 10px;
            font-weight: bold;
        }

    #rechAction .services {
        text-align: left;
        border: 1px solid lightgrey;
        height: 85px;
        overflow-y: scroll;
        padding: 0.5vh;
        width:
    }



/*----------------------------------------------------------MENU RECHERCHE----------------------------------------------------------*/

/*----------------------------------------------------------ACTIONS----------------------------------------------------------*/
#rechAction .actions {
    display: flex;
    flex-direction: column;
}

#rechAction .titreActions {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #1a2238;
}

    #rechAction .titreActions label {
        padding-top: 13px;
    }

        #rechAction .titreActions label:nth-child(1) {
            flex: 3;
        }

        #rechAction .titreActions label:nth-child(2) {
            flex: 1;
        }

        #rechAction .titreActions label:nth-child(3) {
            flex: 1;
        }

#rechAction .listeActions {
    height: 642px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#rechAction .demande {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding-left: 10px;
    margin: 15px 0 10px 0;
    align-items: center;
    justify-content: center;
}

    #rechAction .description {
        display: flex;
        flex-direction: row;
        flex: 3;
        justify-content: space-evenly;
        padding: 1vh;
        margin: 1vh;
        box-shadow: 1px 1px 5px rgb(126, 126, 126);
        overflow: hidden;
        height: 100%;
    }

#rechAction .selectionne {
    box-shadow: 0 .25rem .75rem rgba(29, 34, 56, 1);
    border: 2px solid red;
}

#rechAction .description p {
    border-right: 0.1vw solid white;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 1vh 2vw;
    margin:1vh;
    text-align:center;
}

    #rechAction .description #lastP {
        border-right: 0.1vw solid #2F4F4F;
    }

    #rechAction .description p:nth-last-child(1) {
        border-right: none;
    }


#rechAction .demande img {
    padding-left: 0.8vw;
    width: 60px;
}

#rechAction .statut {
    height: 100%;
    flex: 1;
}

    #rechAction .statut label {
        width: 180px;
        height: 100%;
        padding-top: 15px;
    }

#rechAction .choix {
    margin-right: -15px;
    flex: 1;
}

/*----------------------------------------------------------ACTIONS----------------------------------------------------------*/
