/*----------------------------------------------------------PARAMETRES GENERALISES----------------------------------------------------------*/
* {
    box-sizing: border-box;
}

.bodyContainer{
    width: 100%;
}

#rechAction {
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    line-height: 1.1;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px auto;
    grid-template-areas: "titre titre" "menu actions";
}

#rechAction .actualiser,
#rechAction .postuler,
#rechAction .annuler {
    border: 0px;
    border-radius: 10px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
}

#rechAction .actualiser:hover,
#rechAction .postuler:hover,
#rechAction .annuler {
    cursor: pointer;
}
/*----------------------------------------------------------PARAMETRES GENERALISES----------------------------------------------------------*/

/*----------------------------------------------------------TITRE----------------------------------------------------------*/
#rechAction .titre {
    background-color: #1a2238;
    font-size: 45px;
    color: white;
    font-weight: bold;
    grid-area: titre;
}
/*----------------------------------------------------------TITRE----------------------------------------------------------*/

/*----------------------------------------------------------MENU RECHERCHE----------------------------------------------------------*/
#rechAction .menu {
    background-color: #1a2238;
    grid-area: menu;
    color: white;
    border-top: 1px solid white;
}

#rechAction .menu #titreRecherche {
    margin: 10px 0 50px 0;
    font-size: 25px;
    font-weight: bold;
}

#rechAction .formRecherche {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

#rechAction .catRecherche {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#rechAction .catRecherche label {
    margin-bottom: 10px;
    font-weight: bold;
}

#rechAction .services {
    text-align: left;
    border: 1px solid lightgrey;
    height: 85px;
    overflow-y: scroll;
}

#rechAction .actualiser {
    margin: 50px auto 34px auto;
    width: 120px;
    background-color: #9daaf2;
    color: #1a2238;
}

#rechAction .actualiser:hover {
    box-shadow: 0 0 10px #9daaf2;
}
/*----------------------------------------------------------MENU RECHERCHE----------------------------------------------------------*/

/*----------------------------------------------------------ACTIONS----------------------------------------------------------*/
#rechAction .actions {
    display: flex;
    flex-direction: column;
}

#rechAction .titreActions {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #1a2238;
}

#rechAction .titreActions label {
    padding-top: 13px;
}

#rechAction .titreActions label:nth-child(1) {
    flex: 3;
    border-right: 1px solid #9daaf2;
}

#rechAction .titreActions label:nth-child(2) {
    flex: 1;
    border-right: 1px solid #9daaf2;
}

#rechAction .titreActions label:nth-child(3) {
    flex: 1;
}

#rechAction .listeActions {
    height: 642px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#rechAction .demande {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding-left: 10px;
    margin: 15px 0 10px 0;
    align-items: center;
    justify-content: center;
}

#rechAction .description {
    display: flex;
    flex-direction: row;
    flex: 3;
    justify-content: flex-start;
    color: #1a2238;
    background: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
    border-bottom: 1px solid #dee2e6;
    overflow: hidden;
    height: 100%;
}

#rechAction .description p {
    border-right: 1px solid lightblue;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

#rechAction .description p:nth-child(2) {
    padding-left: 20px;
}

#rechAction .description p:nth-last-child(2) {
    border-right: 0px;
}

#rechAction .description img:nth-last-child(1) {
    align-items: flex-end;
}

#rechAction .demande img {
    width: 47px;
}

#rechAction .statut {
    height: 100%;
    flex: 1;
}

    #rechAction .statut label {
        line-height: 60px; 
    }

    #rechAction .choix {
        margin-right: -15px;
        flex: 1;
    }

#rechAction .postuler {
    min-width: 150px;
    background-color: green;
    color: white;
}

#rechAction .postuler:hover {
    box-shadow: 0 0 10px rgb(0, 255, 0);
}

#rechAction .annuler {
    min-width: 150px;
    background-color: red;
    color: white;
}

#rechAction .annuler:hover {
    box-shadow: 0 0 10px rgb(248, 63, 63);
}
/*----------------------------------------------------------ACTIONS----------------------------------------------------------*/
