@{
    ViewData["Title"] = "Page d'accueil";
}
<head>
    <title>@ViewData["Title"] - Accueil</title>
    <meta name="description" content="page d'accueil de l'application Pand'Ami">
    <meta name="keywords" content="association, entraide, pand'ami, pandémie, local">
    <meta name="author" content="Floriane Ahadi, Roch Jacquot, Kevin Lennoz, Raphael Louvet">
</head>
<body class="bodyAppli">
    <div class="bodyPageAc">
        <div class="bienvenue">
            <h1> BIENVENUE SUR PAND'AMI</h1>
            <p  id="idParagraphe1">Que souhaitez vous faire aujourd'hui ? </p>
        </div>
        <div class="boutons">
            <a class="lesBoutons" id="boutonAccueil" asp-controller="Profil" asp-action="Profil">Gérer mon profil</a>
            <a class="lesBoutons" id="boutonAccueil" asp-controller="Action" asp-action="posterDemande">Poster une demande</a>
            <a class="lesBoutons" id="boutonAccueil" asp-controller="Profil" asp-action="Demandes">Mes demandes</a>
            <a class="lesBoutons" id="boutonAccueil" asp-controller="Recherche" asp-action="afficherActions">Rechercher une action</a>
        </div>
    </div>
</body>



