@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="bodyAppli">
<div id="bodyPosterDemande">
    <div id="divIntro">
        <h1 id="idH1"> Nouvelle demande d'action </h1>
        <p id="idParagraphe1">Remplissez le formulaire ci-dessous afin de poster une nouvelle demande d'action</p>
    </div>

    <article id="idArticle">
        <form method="POST" id="idForm">
            <table id="idTable">
                <tr>
                    <td><label>Type de service :</label></td>
                    <td>
                        <select id="lstService" name="lstService" asp-items="ViewBag.Activite">
                            <option value="">Service demandé</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Matériel requis :</label></td>
                    <td>
                        <select id="idMateriel" name="idMateriel">
                            <option value="">Matériel requis</option>
                            <option>Pas de matériel possible pour le moment</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Date de réalisation :</label></td>
                    <td><input type="date" name="dateRealisation" /></td>
                </tr>

                <tr>
                    <td><label>Horaire de réalisation :</label></td>
                    <td>
                        <select id="lstHeureDebut" name="lstHeureDebut" , asp-items="ViewBag.heures">
                            <option value="">hh</option>
                        </select>
                        <label>:</label>
                        <select id="lstMinuteDebut" name="lstMinuteDebut" , asp-items="ViewBag.minutes">
                            <option value="">mm</option>
                        </select>
                        <label>à</label>
                        <select id="lstHeureFin" name="lstHeureFin" , asp-items="ViewBag.heures">
                            <option value="">hh</option>
                        </select>
                        <label>:</label>
                        <select id="lstMinuteFin" name="lstMinuteFin" , asp-items="ViewBag.minutes">
                            <option value="">mm</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Ville et code postal :</label></td>
                    <td>
                        <select id="lstVille" name="lstVille" , asp-items="ViewBag.Ville">
                            <osption value="">Ville</osption>
                        </select>
                    </td>
                <tr />
                <tr>
                    <td><label>Adresse de réalisation :</label></td>
                    <td><input id="txtAdresse" name="txtAdresse" type="text" /></td>
                </tr>
                <tr>
                    <td>
                        <label>Cochez si la demande est récurrente : </label>
                    </td>
                    <td>
                        @Html.CheckBox("ckbRecurrence", false)

                    </td>
                </tr>
            </table>
            <input class="lesBoutons" id="idSubmit" type="submit" value="valider" />
        </form>
    </article>
</div>

</body>